/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	width: 100%;
	font-family: 'Roboto', sans-serif;
}




/* 2. Content ================================= */


.fas{
	color: #efefef;
}

.fa-bell{
	color: red;
	margin-right: 5px;
}

.fa-comment-alt{
	color: limegreen
}

.content{
	width: 100%;
	.outter-form-wrap{
		width: 85%;
		margin: 0 auto;
		padding-top: 300px;

		.inner-form-wrap{
			width: 100%;
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;

			.form-container{
				border: 1px solid #efefef;
				border-radius: 5px;
				padding: 10px;
			}
			.status-container, .response-time-container, .duration-container{
				width: 260px;


				.exit{
					width: 100%;
					display: flex;
					justify-content: flex-end;
					height: 30px;
				}

				.status-container-inner-wrap,.response-container-inner-wrap, .duration-container-inner-wrap{
					width: 84%;
					margin: 0 auto;
					
					.status-container-main-contents, .response-time-container-main-contents, .duration-main-contents {
						.radio-wrap{
							margin-bottom: 5px;
							padding-top: 5px;
							padding-bottom: 5px;
							transition: all .8s;
							border-radius: 5px;
	
							.fa-times-circle{
								margin-right: 5px;
							}
	
							&:hover{
								background-color: #f2f2f2;
								
							}
						}
	
						.overdue-margin-left{
							padding-left: 15px;
						}
	
						.on-off-wrap{
							display: flex;
							align-items: center;
							margin-bottom: 50px;

							.on-off-switch-label{
								margin-right: 10px;
							}
						}
	
						.reset-filter{
							width: 100%;
							display: flex;
							justify-content: space-between;
							align-items: center;
	
							button{
								width: 60px;
								height: 30px;
								background-color: #f1a13c;
								border: 1px #e4b066 solid;
								border-radius: 5px;
								color: white;
							}
						}
					}
				}

				.container-title{
					font-weight: 400;
					padding-bottom: 5px;
					border-bottom: 1px solid #f2f2f2;
					margin-bottom: 10px;
					font-weight: 700;

				}

				
			}

			.response-time-container{
				width: 260px;
				height: 220px;
				
	
				.response-time-container-main-contents{
	
						.response-time-form{
							margin-bottom: 20px;
							

							.response-time-dropdown{
								height: 30px;
							}
							.longer-than-dropdown{
								width: 200px;
								margin-bottom: 10px;
							}

							.response-time-input{
								width: 60px;
								height: 30px;
								border-radius: 5px;
								margin-right: 5px;
							}

							.minutes-dropdown{
								width: 130px;
							}
						}
					}
				
			}

			.duration-container{
				width: 366px;
				height: 200px;

				.duration-container-inner-wrap{
					.duration-main-contents{
						.duration-form{
							width: 100%;
							display: flex;
							align-items: center;
							margin-bottom: 20px;
							.from-input, .to-input{
								input{
									width: 80px;
									height: 30px;
									border-radius: 5px;
									margin-right: 5px;
									margin-top: 5px;
								}
								
							}

							select{
								width: 120px;
								height: 30px;
								margin-top: 15px;
							}
						}
					}
				}
			
			}
		}
	}
}